{% extends 'base.html.twig' %}
{% block title %}SnowTricks
{% endblock %}

{% block body %}
	
		<div class="bg-image" style="background: center/cover url('img/homeimage.jpg'); height: 100vh">
			<a href="#tricks-container">
				<i class="fa-sharp fa-regular fa-arrow-down"></i>
			</a>
		</div>
		<hr>
         
<main class="container">
		<section class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-4 my-3">
			{% for trick in tricks|slice(0, 6) %}
				<div class="col">
					<div class="card h-100 mb-3 shadow-sm">
						{% if trick.image is not empty %}
							{% for img in trick.image %}
								{% if img.isMain == 1 %}
									<img class="display-top img-fluid" src=" {{asset('assets/uploads/tricks/') ~ img.path}}" alt="">
								{% endif %}

							{% endfor %}
                             {% else %}
                                 <img class="display-top img-fluid" src=" {{asset('img/mainImage.jpg')}}" alt="">
						{% endif %}


						<div class="card-text">
							<div class="row mt-3 ms-3">
								<div class="col-6">
									<a href="{{ path('tricks_display', {'slug' : trick.slug})}}">
										<h5 class="card-title">{{trick.name}}</h5>
									</a>
								</div>
                                {% if app.user and (trick.users.id == app.user.id) %}
								<div class="col-6">
									{% include "partials/_link_trick.html.twig" with { "user" : app.user, "class1" : "row", "class2" :
              "col-6", "edit" : "" , "delete": ""}%}
								</div>
                                {% endif %}
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</section>

		<section class="row row-cols-1 row-cols-md-5 g-4 my-3" id="tricks-container"></section>
		{% if tricks|length >5 %}
			<div class="text-center">
				<button id="load-more" class="btn my-5">
					<i class="fa-regular fa-spinner"></i>
					Charger plus</button>
			</div>
		{% endif %}

		<script>
			const loadMoreBtn = document.getElementById('load-more');
let offset = 0;
loadMoreBtn.addEventListener('click', function () {
offset += 5;
const url = '{{ path('more_tricks', {'offset': 0}) }}'.replace('0', offset);
fetch(url).then(response => response.json()).then(data => {
const tricksContainer = document.getElementById('tricks-container');
tricksContainer.insertAdjacentHTML('beforeend', data.html);
console.log(document.getElementsByClassName("card-img-top").length % 5)
if (document.getElementsByClassName("card-img-top").length == {{ tricks|length }}) {
loadMoreBtn.style.display = 'none';
}
});
});
		</script>
	</main>
{% endblock %}
