{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}

    <div class="home-bg bg">  
        <div><img class="img-fluid card-img-top" src={{ asset('img/homeimage.jpg') }} alt=""></div>
         <a href="#tricks-title" class="home-link-top" title="Aller en bas de la page">
            <i class="fas fa-chevron-down fa-3x chevron-down"></i>
        </a>
    </div>

    <div class="container">
    


        <div class="row" id="tricks-title">
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 trick">
                    <div class="card card-tricks mb-3 hidden-tricks" style="">
                        <img class="img-fluid card-img-top" src={{ asset('img/tricks2.jpg') }} alt="">
                        <div class="card-body">
                            <div class="card-link text-center">
                                <a  class="btn btn-outline-primary mt-3" href="" >Trick's name</a>
                            </div>
    
                                <div class="mt-1 text-center">
                                    <a href="">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                                
                          
                        </div>
                    </div>
                    
                </div>
          
        </div>
        
        <div class="row d-flex justify-content-center">
            <div class="btn btn-info" id="loadMoreTrick" ></div>
            <div class="btn btn-info" id="loadLessTrick" style="display:none" >-</div>
        </div>
        <a href="#tricks-title" class="home-link-bottom" title="Aller en haut de la page">
            <i class="fas fa-chevron-up fa-3x chevron-up"></i>
        </a>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
     
    </script>
{% endblock %}