{% extends 'base.html.twig' %}
{% block title %}Mon Compte{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center my-5">Bienvenue sur votre espace membre {{user.username}}</h2>
    <div class="row py-5">
        <div class=" d-flex justify-content-center">
            <div>
                <h3 class="my-3">Mes informations :</h3>
                <p class="pt-3">Mon pseudo : {{user.username}}</p>
                <p>Mon adresse mail : {{user.email}}</p>
                <p>Prénom : {{user.firstname}}</p>
                <p>Nom : {{user.lastname}}</p>
                <p>Mon avatar :
                    {% if user.picture %}
                    <img src="{{asset('assets/uploads/avatars/'~ user.picture)}}"
                        class="rounded-circle ms-3" style="max-width: 200px;" alt="avatar">
                    {% else %}
                    <img src=" {{asset('assets/pictures/avatar.png')}} " alt="{{user.username}}">
                    {% endif %}
                </p>
                <hr>
                <P class="pt-3"> <a href="{{path('new_avatar')}}">Modifier mon avatar <i
                            class="fa-solid fa-image"></i></a> </P>
                <P> <a href="{{ path('new_pass') }}">Modifier mon mot de passe <i class="fa-solid fa-unlock"></i></a> </P>
            </div>
        </div>
    </div>
</div>
{% endblock %}