{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-11 col-md-8 col-lg-6 shadow my-3 pt-5 px-md-5 bg-form">
            {{form_start(form)}}
            {{form_errors(form)}}
            {{form_row(form.oldPassword)}}
            {{form_row(form.password)}}
            <div class="form-group my-5 text-center">
                <button type="submit" class="btn my-3">Changer</button>
            </div>
            {{form_end(form)}}
        </div>
    </div> 
</div>
{% endblock %}