<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 mb-3  trick">
    <div class="card shadow-s h-100">
      {% if trick.image is not empty %}
					{% for img in trick.image %}
						{% if img.isMain == 1 %}
							<img class="display-top img-fluid" src=" {{asset('assets/uploads/tricks/') ~ img.path}}" alt="">
						{% endif %}
					{% endfor %}
				{% else %}
                  <div class="images">
					<img class="display-top img-fluid" src="{{asset('img/mainImage.jpg')}}" alt="">
                    </div>
				{% endif %}
        <div class="card-body">
            <div class="card-link text-center">
                <a  class="btn btn-outline-primary mt-3" href="{{ path("tricks_display", {'slug' : trick.slug}) }}" >{{ trick.name }}</a>
            </div>
            {% if app.user and (trick.users.id == app.user.id) %}
                <div class="mt-1 text-center">
                      <a href=" {{path('edit_trick', {'slug' : trick.slug})}}" ><i class="fas fa-edit"></i></a>
                    <a href="{{path('delete_trick', {'slug' : trick.slug})}}" onclick="return confirm('Etes vous sur de vouloir supprimer?')">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% endif %}
        </div>

    </div>
</div>