{% extends "base.html.twig" %}

{% block title %}{{tricks.name}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-md-offset-1 mb-4">

                <div class="card mt-5">
                    {# {% if tricks.image %}
                        
                   
                    <img class="display-top img-fluid" src="{{ asset(tricks.image) }}" alt="">
                     {% endif %} #}
                    <div class="card-body">

                        <ul class="list-inline trick-data">
                            <li class="list-inline-item">
                                Par : <a target="" href="">Ajouté par : {{tricks.name}}r</a>
                            </li> |
                            <li class="list-inline-item">
                                Ajouté le {{ tricks.createdAt | date('d/m/Y') }}  {% if tricks.updatedAt is not null %}(<small>Mise à jour le : {{ tricks.updatedAt | date('d/m/Y') }} </small>) {% endif %}
                            </li> |
                            <li class="list-inline-item">
                                Catégorie : {{tricks.category.name}}
                            </li> |
                            <li class="list-inline-item">
                                <a href="#comments-block"> commentaires</a>
                            </li>
                        </ul>
                        <hr>

                         
                           

                        <hr>
                        <h4 class="card-title"><strong> {{tricks.name}} </strong></h4>
                        <p class="card-text"></p>
                        <hr>
                        <hr>
                        <p class="card-text text-justify">{{ tricks.description }}</p>
                    </div>


                     <!-- Start Comments -->
                <span class="comments-anchor" id="comments-block"></span>
                <div class="col-md-12 bg-light">
                    <div class="mb-3">
                        <div class="border entry-comments">
                            <ul class="entry-comments-list list-unstyled">
                            {% if comments.data is defined%}
                                {%  for comment in comments.data %}
                                    <div class="row mb-3 pl-2 bg-light">
                                        <span class="comment-anchor" id="{{ comment.id }}"></span>
                                        <div class="col-3">
                                             <img src=" {{asset('uploads/avatars/mini/300x300-') ~ comment.user.picture }} " class="user-profile" alt="">
                                        </div>
                                        <div class="col-9">
                                            <p>{{ comment.content }}</p>
                                            <p><span >par <a href="{{ path("user_profile",{'id': comment.user.id}) }}" >{{ comment.user.firstname }}</a></span>
                                                <span>le {{ comment.createdAt|date('d/m/Y') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                 {% endif %}
                            </ul>
                        </div>
                    </div>
                   {% set path = 'tricks_display'%}
                {% set slug = tricks.slug %}
                {% set pages = comments.pages %}
                {% set currentPage = comments.page %}
                <div class="position-relative">
                    {% include "partials/_pagination.html.twig" %}
                </div>
                </div>
                {# <!-- End Comments -->

                     <!-- Start Comments -->
                     {% if comments.data is defined %}
                {% for comment in comments.data %}
                <div class="row p-3 bg-body rounded mb-3 shadow">
                    <div class="col-auto">
                        {% if comment.author.avatar %}
                        <img src=""
                            class="rounded-circle" style="max-width: 50px;" alt="{{trick.name}}">
                        {% else %}
                        <img src=" {{asset('assets/pictures/avatar.png')}} " alt="{{comment.author.username}}">
                        {% endfor %}
                        {% endif %}
                          
                           <!-- End Comments -->
                </div> #}




                <!-- Start Comment Add Form -->
              
              
                    <div class="col-md-12 px-0 mb-3">
                        <div class="comments text-center p-3">
                            <p><a href="">Inscrivez-vous</a> ou <a href="">connectez vous</a> pour commenter cet article</p>
                        </div>
                    </div>
            
                <!-- Start Comment Add Form -->

                <!-- Start Comments -->
             
                <!-- End Comments -->
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel = "stylesheet" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" crossorigin="anonymous"></script>

    <script>
        $(document).on("click", '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

{% endblock %}
