{% extends 'base.html.twig' %}
{% block title %}
	{{ trick.name }}
{% endblock %}
{% block body %}
	<div class="container bg-light my-3">
		<div class="card mt-2">
			<div class="mt-3 mx-auto card-img-top img-fluid">
				{% if trick.image is not empty%}
					{% for img in trick.image %}
						{% if img.isMain == 1 %}
							<img class="display-top img-fluid" src=" {{asset('assets/uploads/tricks/') ~ img.path}}" alt="">
						{% endif %}
					{% endfor %}
				{% else %}
					<img class="display-top img-fluid" src="{{asset('img/mainImage.jpg')}}" alt="">
				{% endif %}
			</div>
            
             {% if app.user and (trick.users.id == app.user.id) %}
			<div class="card-img-overlay">
				{% include "partials/_link_trick.html.twig" with { "user" : app.user, "class1" : "position-relative",
            "class2" : "", "edit" : "edit-icon", "delete" : "delete-icon"} %}
			</div>
            {% endif %}
			<div class="card-body text-center">
				<h2 class="card-title text-center">{{ trick.name}}</h2>
				<div class="row justify-content-md-center my-5">
					<div class="col">
						<p class="card-text mb-2 text-muted">Ajoutée le :
							{{ trick.createdAt|date('d/m/Y')}}</p>
					</div>
					<div class="col">
						{% if trick.updatedAt is not null %}
							<p class="card-text mb-2 text-muted">Modifiée le :
								{{ trick.updatedAt|date('d/m/Y')}}</p>
						{% endif %}
					</div>
					<div class="col">
						<p class="card-text">Catégorie :
							{{trick.category.name}}
						</p>
					</div>
				</div>
				<hr>
				<p class="card-text my-5">{{ trick.description}}</p>
			</div>
		</div>
		{% if trick.image|length > 1 or trick.video|length > 0 %}
			<section class="show-image">
				<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-5">
					{% include "partials/_main_picture.html.twig" with { "tricks" : trick.image, "display" : "all"} %}
					{% for video in trick.video %}
						<div class="col">
							<div class="row mt-5 text-center">
								<iframe class="shadow-sm rounded" allowfullsreen src="{{ video.url }} " frameborder="0"></iframe>
							</div>
							<div class="text-center row mt-5 mx-5">
								<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{ video.id }}">
									Afficher en plus grand
								</button>
							</div>
						</div>
						<div id="{{ video.id }}" class="modal fade " data-bs-backdrop="static">
							<div class="modal-dialog modal-dialog-centered modal-lg">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title px-3">Vous devez mettre en pause avant de fermer la vidéo</h5>
										<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
									</div>
									<div class="modal-boddy">
										<div class="ratio ratio-16x9">
											<iframe allowfullscreen src="{{ video.url }}" frameborder="0"></iframe>
										</div>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</section>
		{% else %}
			<div class="my-3 text-center">
				Il n'y a pas de médias pour cette figure.
			</div>
		{% endif %}
		<hr>
		{% if form is defined %}
			{{ form_start(form) }}
			<div class="row justify-content-md-center my-3">
				<div class="col col-lg-6">
					{{ form_widget(form.content) }}
				</div>
				<div class="w-100 d-block d-sm-none"></div>
				<div class="col text-center col-md-auto ">
					<button type="submit" class="btn btn-primary my-3">Ajouter un commentaire</button>
				</div>
			</div>
			{{ form_end(form) }}
		{% else %}
			<div class="text-center">Vous devez être connecté·e et avoir activé votre compte pour pouvoir ajouter un commentaire
			</div>
		{% endif %}
		<hr>
		<div class="container mx-auto">
			<div class="row mt-5 justify-content-center">
				<div class="col-12 col-lg-8">
                 
					{% if comments.data is defined %}
						{% for comment in comments.data %}
							<div class="row p-3 bg-body rounded mb-3 shadow">
								<div class="col-auto">
									{% if comment.user.picture != null %}
										<img src="{{asset('assets/uploads/avatars/mini/300x300-'~ comment.user.picture)}}" class="rounded-circle ms-3" style="max-width: 100px;" alt="avatar">
									{% else %}
										<img src=" {{asset('assets/pictures/avatar.png')}} " alt="{{comment.user.username}}">
									{% endif %}
								</div>
								<div class="col">
									<div>
										<span class="fw-bold ">{{comment.user.username}}</span>
										<div cardclass="fst-italic">
											le
											{{comment.createdAt|date('d/m/Y')}}</div>
									</div>
									<div>{{comment.content}}</div>
                                    {% if app.user and (comment.user.id == app.user.id) %}
                                     <div class="pull-right">
                        <a href="{{ path('comment_delete', {'id':comment.id}) }}"><i class="fas fa-trash"></i></a>
                    </div>
                    {% endif %}
								</div>
							</div>
						{% endfor %}
						{% set path = 'tricks_display'%}
						{% set slug = trick.slug %}
						{% set pages = comments.pages %}
						{% set currentPage = comments.page %}
						<div class="position-relative">
							{% include "partials/_pagination.html.twig" %}
						</div>
					{% else %}
						<div class="text-center">
							Il n'y a pas encore de commentaires pour cette figure, soyez la·e premier·e à en ajouter un !
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}