{% extends "base.html.twig" %}

{% block title %}{{tricks.name}}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-md-offset-1 mb-4">

                <div class="card mt-5">
                
                    {% for img in images %}
                        {% if img.isMain == 1 %}
                              <img class="display-top img-fluid" src=" {{asset('assets/uploads/tricks/') ~ img.path}}" alt="">
                        {% endif %}
                      
                    {% endfor %}
                   

                   

                  
                    <div class="card-body">

                        <ul class="list-inline trick-data">
                            <li class="list-inline-item">
                                Ajouté par : <a target="" href=""> {{user.fullname}}</a>
                            </li> |
                            <li class="list-inline-item">
                                Ajouté le {{ tricks.createdAt | date('d/m/Y') }}  {% if tricks.updatedAt is not null %}(<small>Mise à jour le : {{ tricks.updatedAt | date('d/m/Y') }} </small>) {% endif %}
                            </li> |
                            <li class="list-inline-item">
                                Catégorie : {{tricks.category.name}}
                            </li> |
                            <li class="list-inline-item">
                                <a href="#comments-block"> commentaires</a>
                            </li>
                        </ul>
                        <hr>

                         
                           

                        <hr>
                        <h4 class="card-title"><strong> {{tricks.name}} </strong></h4>
                        <p class="card-text"></p>
                        <hr>
                        <hr>
                        <p class="card-text text-justify">{{ tricks.description }}</p>
                    </div>

                    <!-- Start Carousel -->
                     <div class="row d-lg-flex load-media">
                            <div class="col-lg-6 col-md-12">
                                <div id="carousel_image" class="carousel slide mt-3 mb-2" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for img in images %}
                                            <li data-target=".carousel" data-slide-to="{{ loop.index - 1 }}"  {% if loop.index == 0 %}class="active" {% endif %}></li>
                                        {% endfor %}
                                    </ol>
                                    <div class="carousel-inner enlarge">
                                        {% for img in images %}
                                            <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                                                <img class="d-block" src="{{asset('assets/uploads/tricks/mini/300x300-') ~ img.path }}" alt="">
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <a class="carousel-control-prev" href="#carousel_image" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel_image" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>
                            </div>


                            <div class="col-lg-6 col-md-12">
                                <div id="carousel_video" class="carousel slide mt-3 mb-2" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        {% for video in tricks.video %}
                                            <li data-target=".carousel" data-slide-to="{{ loop.index - 1 }}"  {% if loop.index == 0 %}class="active" {% endif %}></li>
                                        {% endfor %}
                                    </ol>
                                     {% for video in tricks.video %}
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="ratio ratio-16x9 mt-5">
                            <iframe width="280" height="158" allowfullsreen src="{{ video.url }}" frameborder="0"></iframe>
                        </div>
                        <div class="card-text mt-5 mb-3 mx-auto">
                           
                        </div>
                    </div>
                </div>
                {% endfor %}
                                    <a class="carousel-control-prev" href="#carousel_video" data-slide="prev">
                                        <span class="carousel-control-prev-icon"></span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel_video" data-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Carousel --> 



{#                             <section class="show-medias">
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 my-5">
            {% include "_partials/_main_picture.html.twig" with { "tricks" : tricks.image, "display" : "all"} %}
            {% for video in tricks.video %}
            <div class="col">
                    <div class="row mt-5 text-center">
                        <iframe class="shadow-sm rounded" allowfullsreen src="{{ video.url }} " frameborder="0"></iframe>
                    </div>
                    <div class="text-center row mt-5 mx-5">
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#{{ video.id }}">
                            Afficher en plus grand
                          </button>
                    </div>
            </div>
            <div id="{{ video.id }}" class="modal fade " data-bs-backdrop="static">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title px-3">Vous devez mettre en pause avant de fermer la vidéo</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button> 
                    </div>
                    <div class="modal-boddy">
                        <div class="ratio ratio-16x9">
                            <iframe allowfullscreen src="{{ video.url }}" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            
        </div>
    </section> #}

                  {% if form is defined %}
    {{ form_start(form) }}
    <div class="row justify-content-md-center my-3">
        <div class="col col-lg-6">
            {{ form_widget(form.content) }}
        </div>
        <div class="w-100 d-block d-sm-none"></div>
        <div class="col text-center col-md-auto ">
            <button type="submit" class="btn btn-primary my-3">Ajouter un commentaire</button>
        </div>
    </div>
    {{ form_end(form) }}
    {% else %}
     <div class="col-md-12 px-0 mb-3">
                        <div class="comments text-center p-3">
                            <p><a href="">Inscrivez-vous</a> ou <a href="">connectez vous</a> pour commenter cet article</p>
                        </div>
                    </div>
    {% endif %}


                     <!-- Start Comments -->
                <span class="comments-anchor" id="comments-block"></span>
                <div class="col-md-12 bg-light">
                    <div class="mb-3">
                        <div class="border entry-comments">
                            <ul class="entry-comments-list list-unstyled">
                            {% if comments %}
                                {%  for comment in comments%}
                                    <div class="row mb-3 pl-2 bg-light">
                                        <span class="comment-anchor" id="{{ comment.id }}"></span>
                                        {# <div class="col-auto">
                                             <img src="{{asset('assets/uploads/tricks/mini/300x300-')}}" class="user-profile" alt="">
                                           
                                             
                                        </div> #}
                                        <div class="col-auto">
                        <img src=" {{asset('assets/uploads/avatars/mini/300x300-5') }} "
                            class="rounded-circle" style="max-width: 50px;" alt="">
                            </div>
                                        <div class="col-9">
                                            <p>{{ comment.content }}</p>
                                            <p><span >par <a href="{{ path('app_profile') }}" >{{ comment.user.fullname }}</a></span>
                                                <span>le {{ comment.createdAt|date('d/m/Y') }}</span>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                                 
                                 {% else %}
                                 <p>Pas de comms</p>
                                 {% endif %}
                                 
                            </ul>
                        </div>
                    </div>
                   {# {% set path = 'tricks_display'%}
                {% set slug = tricks.slug %}
                {% set pages = comments.pages %}
                {% set currentPage = comments.page %} #}
               {#  <div class="position-relative">
                    {% include "partials/_pagination.html.twig" %}
                </div> #}
                </div>
                {# <!-- End Comments -->

                     <!-- Start Comments -->
                     {% if comments.data is defined %}
                {% for comment in comments.data %}
                <div class="row p-3 bg-body rounded mb-3 shadow">
                    <div class="col-auto">
                        {% if comment.author.avatar %}
                        <img src=""
                            class="rounded-circle" style="max-width: 50px;" alt="{{trick.name}}">
                        {% else %}
                        <img src=" {{asset('assets/pictures/avatar.png')}} " alt="{{comment.author.username}}">
                        {% endfor %}
                        {% endif %}
                          
                           <!-- End Comments -->
                </div> #}




                <!-- Start Comment Add Form -->
              
              
                   
            
                <!-- Start Comment Add Form -->

                <!-- Start Comments -->
             
                <!-- End Comments -->
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel = "stylesheet" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" crossorigin="anonymous"></script>

    <script>
        $(document).on("click", '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

{% endblock %}