{% extends "base.html.twig" %}

{% block title %}Modification d'un trick{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Edition d'un trick</h1>
        {{ form_start(form) }}

        <div class="row text-center">
            <div class="col">
                <div class="p-3 mb-2 bg-light">
                    {{ form_row(form.name) }}
                    {{ form_row(form.description) }}
                    {{ form_row(form.category) }}

                    <hr>
                    <div class="row p-5">
                        <div class="col text-center">
                            <h3 >Image principale</h3>
                            <img src="{{ asset(tricks.mainImage) }}" class="tricks-big img-fluid  p-3" alt="Image de couverture de {{ tricks.name }}">
                        </div>
                    </div>


                    {% if tricks.images is not empty %}
                        <hr>
                        <h3>Liste des images</h3>
                        <div class="row p-3">
                            {% for image in tricks.images %}
                                <div class="d-flex flex-column p-3 align-items-center">
                                    <img src="{{ asset(image.path) }}" class="tricks add-tricks img-fluid" id="deleteMedia_{{ image.id }}" alt="Image de {{ tricks.name }}">
                                    <a id="deleteMedia_{{ image.id }}" href="{{ path('tricks_update_image_delete', {'slug': tricks.slug, 'id': image.id}) }}"><i class="fas fa-trash-alt fa-1x"></i></a>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}


                    {% if tricks.videos is not empty %}
                        <hr>
                        <h3>Liste des vidéos</h3>
                    <div class="row p-5">
                        {% for video in tricks.videos %}
                            <div class="d-flex flex-column p-3 justify-content-around">
                                <iframe width="420" height="315" src="{{ video.video }}" allowfullscreen="" id="deleteMediaVideo_"></iframe>
                                <a id="deleteMediaVideo_{{ video.id }}" href="{{ path('tricks_update_video_delete', {'slug': tricks.slug, 'id': video.id}) }}"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <div class="d-flex">
                        <a type="button" href="{{ path("tricks_update_image_add", {'slug': tricks.slug, 'main': true}) }}" class="btn btn-primary  mr-auto m-2">Changer l'image principale</a>
                        <a type="button" href="{{ path("tricks_update_image_add", {'slug': tricks.slug}) }}" class="btn btn-primary m-2">Ajouter une image</a>
                        <a type="button" href="{{ path("tricks_update_video_add", {'slug': tricks.slug}) }}" class="btn btn-primary m-2">Ajouter une vidéo</a>
                    </div>

                </div>
                <button type="submit" class="btn btn-success">Modifier le tricks</button>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}

