<!DOCTYPE html>
<html lang="fr">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}SnowTricks{% endblock %}</title>
        <link rel="shortcut icon" href=" {{asset('assets/img/mountain.png')}} " type="image/x-icon">
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{{asset('assets/fontawesome/css/fontawesome.css')}}" rel="stylesheet">
        <link href="{{asset('assets/fontawesome/css/brands.css')}}" rel="stylesheet">
        <link href="{{asset('assets/fontawesome/css/solid.css')}}" rel="stylesheet">
         <!-- Bootstrap core CSS -->
        <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">

        <script src=" {{asset('assets/js/bootstrap.bundle.min.js')}} " defer></script>
        {% block javascripts %}{% endblock %}
        <script src=" {{asset('assets/js/scripts.js')}} " defer></script>
		<script src="{{ asset('assets/js/jquery.min.js') }}" defer></script>
    </head>

	<body>
		{% include "partials/header.html.twig" %}

		{% if app.user and app.user.isVerified == false %}
			<div class="alert alert-warning alert-dismissible fade show" role="alert">
				<strong>Votre compte n'est pas activé</strong>
				<a href="{{ path('resend_verif') }}">Renvoyer le lien d'activation</a>
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		{% endif %}

	{% include "partials/_flash.html.twig" %}
		{% block body %}
		{% endblock %}
	
		{% include "partials/footer.html.twig" %}
	</body>
</html>

